.android-long-child {
  position: absolute;
  top: 84.938rem;
  left: 0;
  width: 22.5rem;
  height: 0.375rem;
}
.android-long-item {
  top: 100.125rem;
  height: 0.375rem;
}
.android-long-inner,
.android-long-item,
.group-icon {
  position: absolute;
  left: 0;
  width: 22.5rem;
}
.android-long-inner {
  top: 39.563rem;
  height: 0.375rem;
}
.group-icon {
  top: 0;
  height: 1.5rem;
}
.android-long-child1,
.rectangle-icon {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 22.5rem;
  height: 14.75rem;
}
.rectangle-icon {
  object-fit: cover;
}
.android-long-child1 {
  z-index: 1;
}
.computer-engineering-icon {
  position: absolute;
  top: 12.019rem;
  left: 1.056rem;
  width: 11.1rem;
  height: 1.019rem;
  z-index: 2;
}
.computer-engineers-follow-this {
  position: absolute;
  top: 13.506rem;
  left: 1.038rem;
  width: 13.519rem;
  height: 0.713rem;
  z-index: 2;
}
.android-long-child2 {
  position: absolute;
  top: 61.188rem;
  left: 0;
  width: 22.5rem;
  height: 0.375rem;
}
.android-long-child3,
.iconnavigationarrow-back-24p {
  position: absolute;
  top: 2.5rem;
  left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 2;
}
.android-long-child3 {
  top: 2.375rem;
  left: 16.625rem;
  width: 4.75rem;
  height: 1.75rem;
}
.android-long-child4 {
  position: absolute;
  top: 17.125rem;
  left: 14.75rem;
  width: 6.625rem;
  height: 2rem;
}
.android-long-child5,
.android-long-child6,
.android-long-child7 {
  position: absolute;
  top: 20.375rem;
  left: 0;
  width: 22.5rem;
  height: 19.188rem;
  z-index: 1;
}
.android-long-child6,
.android-long-child7 {
  top: 40.688rem;
  height: 20.5rem;
}
.android-long-child7 {
  top: 61.563rem;
  height: 23.375rem;
}
.posts368-icon {
  position: absolute;
  top: 17.838rem;
  left: 1.069rem;
  width: 4.406rem;
  height: 0.788rem;
}
.android-long-child8 {
  position: absolute;
  top: 20.375rem;
  left: 0;
  width: 22.5rem;
  height: 7.5rem;
  object-fit: cover;
  z-index: 2;
}
.article-icon {
  position: absolute;
  top: 28.788rem;
  left: 1rem;
  width: 3.694rem;
  height: 0.875rem;
  z-index: 2;
}
.what-if-famous-brands-had-regu {
  position: absolute;
  top: 30.631rem;
  left: 1.025rem;
  width: 15.969rem;
  height: 2.269rem;
  z-index: 2;
}
.android-long-child9,
.ive-worked-in-ux-for-the-bett {
  position: absolute;
  top: 33.781rem;
  left: 1.05rem;
  width: 20.006rem;
  height: 0.831rem;
  z-index: 2;
}
.android-long-child9 {
  top: 36rem;
  left: 1rem;
  width: 2.313rem;
  height: 2.313rem;
  object-fit: contain;
}
.android-long-child10 {
  position: absolute;
  top: 30.313rem;
  left: 19.625rem;
  width: 1.75rem;
  height: 1.75rem;
  z-index: 2;
}
.k-views-icon,
.sarthak-kamra-icon {
  position: absolute;
  top: 36.338rem;
  left: 4.094rem;
  width: 5.581rem;
  height: 0.613rem;
  z-index: 2;
}
.k-views-icon {
  top: 37.444rem;
  width: 3.6rem;
  height: 0.569rem;
}
.android-long-child11,
.education-icon {
  position: absolute;
  top: 36.063rem;
  left: 17rem;
  width: 4.375rem;
  height: 2.25rem;
  z-index: 2;
}
.education-icon {
  top: 49.1rem;
  left: 1rem;
  width: 5.031rem;
  height: 0.875rem;
}
.tax-benefits-for-investment-un {
  position: absolute;
  top: 50.944rem;
  left: 1.025rem;
  width: 16.231rem;
  height: 3.569rem;
  z-index: 2;
}
.android-long-child12,
.ive-worked-in-ux-for-the-bett1 {
  position: absolute;
  top: 55.406rem;
  left: 1.05rem;
  width: 20.006rem;
  height: 0.831rem;
  z-index: 2;
}
.android-long-child12 {
  top: 57.625rem;
  left: 1rem;
  width: 2.313rem;
  height: 2.313rem;
  object-fit: contain;
}
.android-long-child13,
.meetup-icon {
  position: absolute;
  top: 50.625rem;
  left: 19.625rem;
  width: 1.75rem;
  height: 1.75rem;
  z-index: 2;
}
.meetup-icon {
  top: 70.725rem;
  left: 1rem;
  width: 4.069rem;
  height: 1.013rem;
}
.android-long-child14,
.finance-investment-elite-soc {
  position: absolute;
  top: 72.569rem;
  left: 1.081rem;
  width: 15.469rem;
  height: 2.256rem;
  z-index: 2;
}
.android-long-child14 {
  top: 75.5rem;
  left: 1rem;
  width: 17.475rem;
  height: 1rem;
}
.android-long-child15,
.android-long-child16 {
  position: absolute;
  top: 77.5rem;
  left: 1rem;
  width: 20.5rem;
  height: 2.125rem;
  z-index: 2;
}
.android-long-child16 {
  top: 72.25rem;
  left: 19.625rem;
  width: 1.75rem;
  height: 1.75rem;
}
.k-views-icon1,
.sarah-west-icon {
  position: absolute;
  top: 57.963rem;
  left: 4.094rem;
  width: 4.231rem;
  height: 0.613rem;
  z-index: 2;
}
.k-views-icon1 {
  top: 59.069rem;
  left: 4.088rem;
  width: 3.606rem;
  height: 0.569rem;
}
.android-long-child17,
.android-long-child18 {
  position: absolute;
  top: 57.688rem;
  left: 17rem;
  width: 4.375rem;
  height: 2.25rem;
  z-index: 2;
}
.android-long-child18 {
  top: 81.375rem;
  left: 1rem;
  width: 2.313rem;
  height: 2.313rem;
  object-fit: contain;
}
.ronal-jones-icon {
  position: absolute;
  top: 81.713rem;
  left: 4.131rem;
  width: 4.488rem;
  height: 0.613rem;
  z-index: 2;
}
.android-long-child19,
.views-icon {
  position: absolute;
  top: 82.819rem;
  left: 4.1rem;
  width: 3.419rem;
  height: 0.569rem;
  z-index: 2;
}
.android-long-child19 {
  top: 81.438rem;
  left: 17rem;
  width: 4.375rem;
  height: 2.25rem;
}
.android-long-child20,
.android-long-child21 {
  position: absolute;
  top: 40.688rem;
  left: 0;
  width: 22.5rem;
  height: 7.5rem;
  object-fit: cover;
  z-index: 2;
}
.android-long-child21 {
  top: 62.313rem;
}
.android-long-child22 {
  position: absolute;
  top: 85.313rem;
  left: 0;
  width: 22.5rem;
  height: 14.813rem;
  z-index: 1;
}
.job-icon {
  position: absolute;
  top: 86.6rem;
  left: 1rem;
  width: 2.519rem;
  height: 0.875rem;
  z-index: 2;
}
.android-long-child23,
.software-developer-ii {
  position: absolute;
  top: 88.45rem;
  left: 1.038rem;
  width: 10.788rem;
  height: 0.938rem;
  z-index: 2;
}
.android-long-child23 {
  top: 92.438rem;
  left: 1rem;
  width: 20.5rem;
  height: 2.125rem;
}
.android-long-child24,
.android-long-child25 {
  position: absolute;
  top: 88.125rem;
  left: 19.625rem;
  width: 1.75rem;
  height: 1.75rem;
  z-index: 2;
}
.android-long-child25 {
  top: 96.563rem;
  left: 1rem;
  width: 2.313rem;
  height: 2.313rem;
  object-fit: contain;
}
.joseph-gray-icon,
.k-views-icon2 {
  position: absolute;
  top: 96.9rem;
  left: 4.081rem;
  width: 4.65rem;
  height: 0.763rem;
  z-index: 2;
}
.k-views-icon2 {
  top: 98.006rem;
  left: 4.094rem;
  width: 3.6rem;
  height: 0.569rem;
}
.android-long-child26,
.android-long-child27 {
  position: absolute;
  top: 96.625rem;
  left: 17rem;
  width: 4.375rem;
  height: 2.25rem;
  z-index: 2;
}
.android-long-child27 {
  top: 90.438rem;
  left: 1rem;
  width: 15.363rem;
  height: 1rem;
}
.android-long {
  width: 100%;
  height: 100.5rem;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
